snippet be
  beforeEach(() => {
    $0
  });

snippet bea
  beforeEach(async () => {
    $0
  });

snippet desc
  describe('$1', () => {
    $0
  });

snippet it
  it('$1', () => {
    expect($2).toBe(false);
  });

snippet ita
  it('$1', async () => {
    expect($2).toBe(false);
  });

snippet clog
  console.log($0);

snippet imp
  import $0 from '$1';
