snippet desc
	describe '$1' do
		$0
	end

snippet it
	it '$1' do
		$0
	end

snippet ctx
	context '$1' do
		$0
	end

snippet be
	before do
		$0
	end

snippet def
	def $1
		$0
	end

snippet given
	Given /^$1$/ do
		$0
	end
