snippet desc
describe '$1' do
	$0
end
endsnippet

snippet it
it '$1' do
	$0
end
endsnippet

snippet ctx
context '$1' do
	$0
end
endsnippet

snippet be
before do
	$0
end
endsnippet

snippet def
def $1
	$0
end
endsnippet

snippet given
Given /^$1$/ do
	$0
end
endsnippet
