snippet be
beforeEach(() => {
  $0
});
endsnippet

snippet desc
describe('$1', () => {
  $0
});
endsnippet

snippet it
it('$1', () => {
  expect($2).toBe(false);
});
endsnippet

snippet ita
it('$1', async () => {
  expect($2).toBe(false);
});
endsnippet

snippet clog
console.log($0);
endsnippet

snippet mio
$1.mockImplementationOnce(() => {
  $0;
});
endsnippet

snippet mi
$1.mockImplementation(() => {
  $0;
});
endsnippet
